In [1]:
class Employee():   # creating the class
    pass

In [7]:
emp1=Employee()     # creating an instance of a class
emp2=Employee()

In [9]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000013A3ACACB90>
<__main__.Employee object at 0x0000013A39F9E210>

In [11]:
# instance variables

emp1.first='Neeraj'
emp1.last='Deshmuk'
emp1.salary=51000

emp2.first='Natasha'
emp2.last='Negik'
emp2.salary=52000

In [13]:
print(emp1.first)

Neeraj

In [15]:
print(emp2.salary)

52000

In [60]:
class Employee():
    def __init__(self,first,last,salary):   # self keyword is similar to this keyword
        self.first=first
        self.last=last
        self.salary=salary

    def show(self):
        print(self.first +' '+'ok')

In [72]:
class Employee():
    def __init__(self,first,last,salary):   # self keyword is similar to this keyword
        self.first=first
        self.last=last
        self.__salary=salary   # private variable

    def show(self):
        print(self.first +' '+'ok')

In [74]:
emp1=Employee('raj','sharma',48000)

In [74]:
emp1=Employee('raj','sharma',48000)

In [66]:
print(emp1.first)

raj

In [68]:
emp2=Employee('tanvi','shinde',50000)

In [70]:
emp1.show()

raj ok

In [58]:
emp2.show()

tanvi ok

In [76]:
# Encapsulation
emp1=Employee('raj','sharma',48000)

In [78]:
print(emp1.salary)

AttributeError: 'Employee' object has no attribute 'salary'

In [112]:
class Employee1():
    def __init__(self,first,last,salary):   # self keyword is similar to this keyword
        self.first=first
        self.last=last
        self.__salary=salary   # private variable

    def show(self):
        print(self.__salary)   # we can access the private data using method of that class

In [114]:
emp1=Employee1('raj','sharma',48000)

In [116]:
print(emp1.first)

raj

In [118]:
emp1.show()

48000

In [120]:
# Inheritance
class Emp2(Employee1):   #Emp2 => subclass , Employee1 => superclass
    pass

In [122]:
emp3 = Emp2('naha','kulkarni',55000)

In [124]:
emp3.show()

55000

In [128]:
'''
create a class called person
attributes => names,age,city        make use of default paramete
create a method which will show all the info of a person
''';

In [195]:
class Person():
     def __init__(self,name,age,city= 'pune'):   # self keyword is similar to this keyword
        self.name=name
        self.age=age
        self.city=city   # private variable

     def show(self):
        print(self.name)
        print(self.age)
        print(self.city)

In [197]:
per1 = Person('naha',21)

In [199]:
per1.show()

naha
21
pune

In [205]:
per2 = Person('om',32,'thane')

In [207]:
per2.show()

om
32
thane